:root{
    --profile-img-border-size: 8px;
    --profile-background-border-size: 12px;
}
.UserProfile{
    max-width: 100%;
    /*position:absolute;*/
}
.profile-bg{
    width: calc(var(--profile-background-border-size)*2 + 50px + 100%)/*450px*/;
    height: 300px;
    background: rgb(184,146,255);
    background: linear-gradient(90deg, rgba(184,146,255,1) 0%, rgba(255,144,131,1) 100%); 
    /*border-radius: 0 0 50% 50%;*/
    border-radius: 0 0 280px 280px;
    border: var(--profile-background-border-size) solid white;
    overflow-x: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    position:relative;
    top: calc(var(--profile-background-border-size)*-1);
    left: calc(var(--profile-background-border-size)*-1 - 25px);
    margin:auto;
    z-index: -10;
}

.profile-img{
    width:170px;
    height:170px;
    background-color: gray;
    border: var(--profile-img-border-size) solid white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -115px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.topContainer{
    overflow-x: hidden;
    margin-bottom: -6rem;
}
.bottomContainer{
    padding:12px;
}
.profile-name{
    display: inline-block;
}

.nameHolder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addFriend-btn {
    align-items: center;
    background-image: linear-gradient(144deg,#b892FF,#ff90b3);
    border: 0;
    border-radius: 8px;
    /*box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;*/
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .addFriend-btn:active,
  .addFriend-btn:hover .addFriend-btn {
    outline: 0;
  }
  
  .addFriend-btn span {
    /*background-color: white;*/
    color: black;
    mix-blend-mode: screen;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    background: #FFFFFF;
  }
  
  .addFriend-btn:hover span {
    background:transparent;
    color: white;
  }
  
  section > h2{
    color:#6e44ff;
  }
  .settings-icon{
    height: 30px;
    position: absolute;
    top:10px;
    right:10px;
    z-index: 1000;
    cursor: pointer;
  }
  .settings-dropdown:hover .settings-menu{
    visibility: visible;
  }
  .settings-menu{
    visibility: hidden;
    position: absolute;
    top:20px;
    right:10px;
  }
  @media (min-width: 768px) {
    .UserProfile {
      margin:auto;

    }
    .profile-img{
      width: 200px;
      height: 200px;
    }
    .bottomContainer{
      max-width: 1000px;
      margin:auto;
    }
  }
  